html {
box-sizing: border-box;
}

*,
*::before, 
*::after {
    box-sizing: inherit;
}

body {
    width: 900px;
    margin: 0 auto;
}

header {
    margin-bottom: 100px;
    margin-top: 75px;
}

.menu {
    margin: 0;
    padding: 0;
    width: 900px;
    text-align: center;
}

.menu li {
    display: inline-block;
}
.menu li:not(:last-child) {
    margin-right: 122px;
}

.container {
    margin-bottom: 90px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
.link {
    text-decoration: none;
    font-family: Playfair Display, serif;
    color: #626262;
    text-transform: uppercase;
    font-size: 14px;
}

.link:hover {
    color: #03a9f4;
}

.list {
    list-style: none;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.stories {
    font-family: Playfair Display, serif;
    color: #626262;
}

.first_headline {
    font-family: 'Ubuntu', sans-serif;
    color: #b4ad9e;
    text-transform: uppercase;
    font-size: 14px;
}

.headline {
    font-size: 30px;
    font-weight: 400;
    }

.blocks {
    width: 420px;
    margin-right: 56px;
    margin-bottom: 135px;
    display: inline-block;
}

.list .blocks:nth-child(2n) {
    margin-right: 0px;
}

.list .blocks:nth-last-child(-n +2) {
    margin-bottom: 0px;
}

.theend {
    margin: 0 auto;
}

.button {
    width: 165px;
    height: 45px;
    font-family: Playfair Display, serif;
    font-size: 20px;
    color: #626262;
    box-sizing: border-box;
}