html {
box-sizing: border-box;
}

*,
*::before, 
*::after {
    box-sizing: inherit;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.menu {
    width: 900px;
    margin: 0 auto;
}

.menu li {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.menu li:not(:last-child) {
    margin-right: 122px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
.link {
    text-decoration: none;
    font-family: Playfair Display, serif;
    color: #626262;
    text-transform: uppercase;
    font-size: 14px;
}

.link:hover {
    color: #03a9f4;
}

.list {
    list-style: none;
    font-size: 14px;
}

.stories {
    font-family: Playfair Display, serif;
    color: #626262;
}

.first_headline {
    font-family: 'Ubuntu', sans-serif;
    color: #b4ad9e;
    text-transform: uppercase;
    font-size: 14px;
}

.headline {
    font-size: 30px;
    font-weight: 400;
    }

.blocks {
    width: 420px;
    margin: 0;
    padding: 0;
    display: inline-block;
}

